@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
}

$Desaturated-Red: hsl(0, 36%, 70%);
$Soft-Red: hsl(0, 93%, 68%);

// Neutral

$Dark-Grayish-Red: hsl(0, 6%, 24%);

// - Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
// - Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)

.d-f {
    display: flex;
}
.jc-s {
    justify-content: space-around;
}
.ai-c {
    align-items: center;
}
.ta-c {
    text-align: center;
}
.jc-c {
    justify-content: center;
}

.b {
    border: 1px solid red;
}

h1 {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-weight: 600;
    letter-spacing: 1.5rem;
    font-family: "Josefin Sans", sans-serif;
    span {
        font-size: 3rem;
        color: $Desaturated-Red;
        font-weight: 300;
        letter-spacing: 1.2rem;
        font-family: "Josefin Sans", sans-serif;
    }
}
@media (max-width: 800px) {
    h1 {
        max-width: 100%;
        text-align: center;
        font-size: 2.2rem;
        letter-spacing: 1rem;
        font-weight: 600;
        font-family: "Josefin Sans", sans-serif;
        span {
            font-size: 2rem;
            letter-spacing: 1rem;
        }
    }
}
p {
    width: 92%;
    color: $Desaturated-Red;
    line-height: 1.5rem;
    margin-top: 1rem;
    @media (max-width: 800px) {
        text-align: center;
        width: 90%;
        margin: 0 auto;
        margin-top: 1rem;
    }
}

.error-icon {
    position: absolute;
    right: 8rem;
    opacity: 0;
    @media (max-width:750px) {
        right: 5rem;
        
    }
}
.error_msg{
    opacity: 0;
}
.show-error{
    opacity: 1;
}
.ib{
    border: 1px solid red !important;
}
.s{
    opacity: 1;
}
#err_msg{
    margin-left: 1rem;
    @media (max-width: 800px) { 
        margin-left: -1rem;

    }
}


